.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_targets/objects
_targets.yaml
nohup.out
outputs/
!outputs/.gitkeep
!outputs/example_report.html
data/**/*.csv.gz
data/**/*.grib
data/**/*.parquet
data/**/*.zip
data/**/*.nc
